@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

a, h1 {
	transition: color 0.3s ease-in-out;
}

a:hover, h1:hover {
	color: #c7b198;
}

canvas{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Goudy Bookletter 1911', serif;
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin: 0;
}
/* 
#sketchContainer {
	display: flex;
	flex-flow: column;

	width: 80vw;
	height: 60vh;

	overflow: visible;
}
 */
