canvas{
    border-radius: 30px;
    overflow: hidden;
    border: 2px inset #fff;
    box-sizing: border-box;
    background-color: green;
}
    .progress_wrapper{
        padding: 10px 20px;
        background-color: #ccc; 
    }
    
h2{
    height: 30px;
    margin: 0;    
    text-transform: uppercase;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #666;
    font-weight: 600;    
    letter-spacing: 1px;
}    