canvas{
    border-radius: 100px;
    overflow: hidden;
    border: 2px inset #fff;
    box-sizing: border-box;
}
    .progress_wrapper{
        padding: 10px 20px;
        background-color: #ccc; 
    }